.form-container{
    margin: 4rem 25rem;
    text-align: center;
    /* width: 50%; */
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
    
}
.form-container form{
    display: flex;
    align-items: center;
}
.form-container input {
    width: 50%;
    border: 1px solid #2a2a2a;
    padding: 12px;
    font-size: 20px;
    border-radius: 6px;

}
.form-container textarea {
    width: 50%;
    border: 1px solid #2a2a2a;
    padding: 12px;
    font-size: 20px;
    border-radius: 6px;
}
.send{
    width: 50%;
    padding: 15px;
    
}
@media screen and (max-width:768px){
    .form-container{
        margin: 4rem ;
        text-align: center;
        /* width: 50%; */
        box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.25);
        padding: 20px;
        
    }
}